@charset "utf-8";

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 12px;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}

body, div, p, form, ul, ol, dl, dt, dd, img, a, iframe, span, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body, div, header, section, footer, li, span, a {
	position: relative;
}

body, div, span, a, ul, li, dl, dt, dd, td, form, input, img {
    box-sizing: border-box;
}

input, textarea, button, a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}

li {
	list-style-type: none;
}

/*********************************************************/
.frm-loading {
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

.frm-loading > .box {
	position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    color: #585858;
    font-size: 14px;
    font-family: monospace;
    user-select: none;
}

.frm-loading > .box > span {
	display: inline-block;
    padding: 0px 1px;
    animation: frm-loading-animate 2s infinite;
    -webkit-animation: frm-loading-animate 2s infinite;
}

.frm-loading > .box > .i1 {
	animation-delay: 0ms;
}

.frm-loading > .box > .i2 {
	animation-delay: 0.2s;
}

.frm-loading > .box > .i3 {
	animation-delay: 0.4s;
}

.frm-loading > .box > .i4 {
	animation-delay: 0.6s;
}

.frm-loading > .box > .i5 {
	animation-delay: 0.8s;
}

.frm-loading > .box > .i6 {
	animation-delay: 1.0s;
}

.frm-loading > .box > .i7 {
	animation-delay: 1.2s;
}

.frm-loading > .box > .i8 {
	color: #999;
	animation-delay: 1.4s;
}

.frm-loading > .box > .i9 {
	color: #999;
	animation-delay: 1.6s;
}

.frm-loading > .box > .i10 {
	color: #999;
	animation-delay: 1.8s;
}

body > .frm-loading {
	position: fixed;
}

body > .frm-loading > .box {
	width: 0px;
	overflow: hidden;
	padding: 10px 0px;
	text-align: center;
	white-space: nowrap;
	border: 1px solid #519ade;
	border-width: 0px 1px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 0px #ccc;
    transition: width 0.2s;
}

body > .frm-loading.show > .box {
	width: 150px;
}

@-webkit-keyframes frm-loading-animate {
    0% { transform: scale(1); }
    10% { transform: scale(1.4); }
    20% { transform: scale(1); }
    100% { transform: scale(1); }
}

@-o-keyframes frm-loading-animate {
    0% { transform: scale(1); }
    10% { transform: scale(1.4); }
    20% { transform: scale(1); }
    100% { transform: scale(1); }
}

@-moz-keyframes frm-loading-animate {
    0% { transform: scale(1); }
    10% { transform: scale(1.4); }
    20% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes frm-loading-animate {
    0% { transform: scale(1); }
    10% { transform: scale(1.4); }
    20% { transform: scale(1); }
    100% { transform: scale(1); }
}
