
.ui-btn-primary > .btn {
	background-color: #539de2;
}


.ui-btn-primary > .btn:hover {
	background-color: #3891e4;
}

.ui-empty > .ui-emptydef:before {
	background-image: url(/img/empty2.png);
	/*background-size: 72px;*/
}
