<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scy.secret.mapper.CatalogMapper">

    <!-- getById -->
    <select id="getById" resultType="CatalogModel">
        select * from `catalog` where id = #{id}
    </select>

    <!-- findAll -->
    <select id="findAll" resultType="CatalogModel">
        select * from `catalog` where userId = #{userId} order by name asc
    </select>

    <!-- findChildrenAll -->
    <select id="findChildrenAll" resultType="CatalogModel">
        select * from `catalog` where parentIds like concat('%|', #{id}, '|%')
    </select>

    <!-- add -->
    <insert id="add" parameterType="CatalogModel" useGeneratedKeys="true" keyProperty="id">
        insert into `catalog` (name, type, parentId, parentIds, userId, creatorId, createTime)
        values (#{name}, #{type}, #{parentId}, #{parentIds}, #{userId}, #{creatorId}, #{createTime})
    </insert>

    <!-- update -->
    <update id="update" parameterType="CatalogModel">
        update `catalog`
        set name = #{name}, type = #{type}, parentId = #{parentId}, parentIds = #{parentIds}, userId = #{userId},
        updatorId = #{updatorId}, updateTime = #{updateTime}
        where id = ${id}
    </update>

    <!-- delete -->
    <update id="delete" parameterType="CatalogModel">
        delete from `catalog` where id = #{id}
    </update>

    <!-- updateParentIds -->
    <update id="updateParentIds" parameterType="CatalogModel">
        update `catalog` set parentIds = #{parentIds} where id = #{id}
    </update>

</mapper>