<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scy.secret.mapper.SecretMapper">

    <!-- getById -->
    <select id="getById" resultType="SecretModel">
        select * from `secrets` where id = #{id}
    </select>

    <!-- find -->
    <select id="find" parameterType="org.scy.common.ds.query.Selector" resultType="SecretModel">
        select * from `secrets` ${where} ${group} ${order} ${limit}
    </select>

    <!-- add -->
    <insert id="add" parameterType="SecretModel" useGeneratedKeys="true" keyProperty="id">
        insert into `secrets` (title, content, catalogId, userId, creatorId, createTime)
        values (#{title}, #{content}, #{catalogId}, #{userId}, #{creatorId}, #{createTime})
    </insert>

    <!-- update -->
    <update id="update" parameterType="SecretModel">
        update `secrets`
        set title = #{title}, content = #{content}, catalogId = #{catalogId},
        updatorId = #{updatorId}, updateTime = #{updateTime}
        where id = ${id}
    </update>

    <!-- delete -->
    <update id="delete" parameterType="SecretModel">
        delete from `secrets` where id = #{id}
    </update>

</mapper>