
.view-secret-detail {
	background-color: #fff;
}

.view-secret-detail > .container {
	overflow: hidden;
    height: 100%;
    padding-top: 80px;
}

.view-secret-detail > .container .title {
	position: absolute;
    left: 20px;
    right: 20px;
    top: 0px;
    padding: 10px 170px 0px 0px;
    border-bottom: 1px solid #eee;
}

.view-secret-detail > .container .title input {
	width: 100%;
    height: 50px;
    color: #585858;
    font-size: 18px;
    border: 0px;
}

.view-secret-detail > .container .content {
	width: 100%;
    height: 100%;
}

.view-secret-detail > .container .content textarea {
	width: 100%;
    height: 100%;
    padding: 0px 20px 30px 20px;
    font-size: 14px;
    border: 0px;
    box-sizing: border-box;
    resize: none;
}

.view-secret-detail > .container .btnbar {
	position: absolute;
    top: 20px;
    right: 20px;
}

.view-secret-detail > .container .btnbar .ui-btn {
    margin-left: 10px;
}

.view-secret-detail > .empty {
	display: none;
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
	background-color: #eee;
    background-image: url(/img/empty.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    opacity: 0.1;
}

.view-secret-detail > .command-input {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #787878;
}

.view-secret-detail > .command-input > .box {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    padding: 30px 30px 20px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
}

.view-secret-detail > .command-input > .box > .title {
    margin-bottom: 10px;
    font-size: 14px;
}

.view-secret-detail > .command-input > .box > .btns {
    padding-top: 20px;
    text-align: center;
}

.view-secret-detail.empty > .container {
	display: none;
}

.view-secret-detail.empty > .command-input {
    display: none;
}

.view-secret-detail.empty > .empty {
	display: block;
}

.view-secret-detail.show-command > .container {
    display: none;
}

.view-secret-detail.show-command > .empty {
    display: none;
}

.view-secret-detail.show-command > .command-input {
    display: block;
}
