
.view-secret-detail {
	overflow: hidden;
    padding-top: 80px;
	background-color: #fff;
}

.view-secret-detail > .title {
	position: absolute;
    left: 20px;
    right: 20px;
    top: 0px;
    padding: 10px 170px 0px 0px;
    border-bottom: 1px solid #eee;
}

.view-secret-detail > .title input {
	width: 100%;
    height: 50px;
    color: #585858;
    font-size: 18px;
    border: 0px;
}

.view-secret-detail > .content {
	width: 100%;
    height: 100%;
}

.view-secret-detail > .content textarea {
	width: 100%;
    height: 100%;
    padding: 0px 20px 30px 20px;
    font-size: 14px;
    border: 0px;
    box-sizing: border-box;
    resize: none;
}

.view-secret-detail > .btnbar {
	position: absolute;
    top: 20px;
    right: 20px;
}

.view-secret-detail > .btnbar .ui-btn {
    margin-left: 10px;
}

.view-secret-detail > .empty {
	display: none;
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url(/img/empty.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    opacity: 0.1;
}

.view-secret-detail.empty {
	background-color: #eee;
}

.view-secret-detail.empty > * {
	display: none;
}

.view-secret-detail.empty > .empty {
	display: block;
}
