
.page-header {
	display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.page-header > * {
	flex: none;
}

.page-header > .space {
	flex: auto;
}

.page-header > .logo {
	width: 230px;
	height: 60px;
	background-image: url(/img/slogo.png);
	background-size: auto 60px;
}

.page-header > .user {
	font-size: 16px;
}

.page-header > .user > * {
	display: inline-block;
}

.page-header > .user .userinfo {
	margin-right: 1px;
}

.page-header > .user .userinfo .name {
	padding: 0px 12px;
	color: #787878;
	line-height: 60px;
	cursor: pointer;
}

.page-header > .user .userinfo .name:hover {
	background-color: #f3f3f3;
}

.page-header > .user .exitbtn {
	padding: 0px 12px 0px 30px;
    color: #787878;
    line-height: 60px;
    background-image: url(/img/a/002.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 12px center;
    cursor: pointer;
}

.page-header > .user .exitbtn:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 16px;
	left: -1px;
	top: 50%;
	margin-top: -8px;
	background-color: #e0e0e0;
}

.page-header > .user .exitbtn:hover {
	background-color: #f3f3f3;
}
