
.view-secret-list {
	flex: none !important;
	display: flex;
	flex-direction: column;
	width: 20%;
	min-width: 200px;
	border-right: 1px solid #eee;
	background-color: #fff;
}

.view-secret-list .searchview {
	flex: none;
	padding: 10px;
}

.view-secret-list .searchview input {
	width: 100%;
    height: 28px;
    padding: 0px 30px 0px 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.view-secret-list .searchview .searchbtn {
	position: absolute;
    width: 26px;
    height: 26px;
    top: 1px;
    right: 1px;
    background-image: url(/img/a/006.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
}

.view-secret-list .searchview .searchbtn:hover {
	background-color: #f0f0f0;
}

.view-secret-list .searchview .searchbtn:active {
	opacity: 1;
}

.view-secret-list .addview {
	flex: none;
	padding: 0px 10px 10px;
}

.view-secret-list .addview .addbtn {
	height: 30px;
    border-radius: 3px;
    background-color: #539de2;
    cursor: pointer;
}

.view-secret-list .addview .addbtn:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
	background-image: url(/img/a/003b.png);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
}

.view-secret-list .addview .addbtn:hover {
	background-color: #448bce;
}

.view-secret-list .addview .addbtn:active {
	background-color: #539de2;
	box-shadow: 0 0 5px 0 rgb(83, 157, 226);
}

.view-secret-list .addview .addbtn:active:before {
	background-image: url(/img/a/003b.png);
	opacity: 1;
}

.view-secret-list .listview {
	flex: auto;
	overflow: hidden;
	border-top: 1px solid #eee;
}

.view-secret-list .listview .ui-scroll {
	font-size: 12px;
	border: 0px;
}

.view-secret-list .listview .ui-scroll > .bottom > .scroll-load {
	font-size: 12px;
	border-top: 0px;
}

.view-secret-list .listview .ui-scroll > .bottom > .scroll-bottom {
	font-size: 12px;
	border-top: 0px;
}

.view-secret-list .listview .ui-scroll.is-empty > .bottom {
	display: none;
}

.view-secret-list .listview .ui-list > ul > li {
	border-top: 0px;
}

.view-secret-list .listview .ui-list > ul > li.selected {
	background-color: #d1e9ff;
}

.view-secret-list .secret-item {
	padding: 10px 0px;
    border-bottom: 1px solid #f3f3f3;
}

.view-secret-list .secret-item .title {
	font-size: 14px;
    font-family: sans-serif;
    line-height: 18px;
}

.view-secret-list .secret-item .time {
	margin-top: 10px;
	color: #aaa;
    font-size: 12px;
    line-height: 16px;
}

.view-secret-list .listview li.selected .secret-item {
	border-bottom: 0px;
}
